.content {
  padding: 1rem;
  width: 24rem;
  margin: 0 auto;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
.content:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.title {
  position: relative;
  height: 28px;
}
.title:after {
  position: absolute;
  right: 0;
  content: "";
  background: #fff;
  height: 28px;
  width: 0%;
}

.padding {
  height: 16px;
  background: #fff;
}

.parent {
  position: relative;
  height: 13px;
}
.parent:after {
  position: absolute;
  right: 0;
  content: "";
  background: #fff;
  height: 14px;
  width: 70%;
}

.followers {
  position: relative;
  height: 14px;
}
.followers:after {
  position: absolute;
  right: 0;
  content: "";
  background: #fff;
  height: 14px;
  width: 80%;
}

.description {
  position: relative;
  height: 14px;
}
.description:after {
  position: absolute;
  right: 0;
  content: "";
  background: #fff;
  height: 14px;
  width: 0%;
}

.avatar {
  position: relative;
  display: flex;
  justify-content: flex-end;
}
.avatar:before {
  position: absolute;
  left: 0;
  content: "";
  background: #fff;
  height: 40px;
  width: calc(100% - 40px);
}

.avatar-image {
  width: 40px;
  height: 40px;
}
